
#event1 {  background: url(e1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        }
        #event2 {  background: url(e2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
                }
                #event3 {  background: url(e3.jpg) no-repeat center center fixed; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                        }
                        #event4 {  background: url(e4.jpg) no-repeat center center fixed; 
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;
                                }
                                #event5{  background: url(e5.jpg) no-repeat center center fixed; 
                                    -webkit-background-size: cover;
                                    -moz-background-size: cover;
                                    -o-background-size: cover;
                                    background-size: cover;
                                        }
                                        #event6 {  background: url(e6.png) no-repeat center center fixed; 
                                            -webkit-background-size: cover;
                                            -moz-background-size: cover;
                                            -o-background-size: cover;
                                            background-size: cover;
                                                }
                                                #event7 {  background: url(e7.jpg) no-repeat center center fixed; 
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                        }
                                                        #event8{  background: url(e8.jpg) no-repeat center center fixed; 
                                                            -webkit-background-size: cover;
                                                            -moz-background-size: cover;
                                                            -o-background-size: cover;
                                                            background-size: cover;
                                                                }
                                                                #event9 {  background: url(e9.jpg) no-repeat center center fixed; 
                                                                    -webkit-background-size: cover;
                                                                    -moz-background-size: cover;
                                                                    -o-background-size: cover;
                                                                    background-size: cover;
                                                                        }
                                                                        #event10 {  background: url(e10.jpg) no-repeat center center fixed; 
                                                                            -webkit-background-size: cover;
                                                                            -moz-background-size: cover;
                                                                            -o-background-size: cover;
                                                                            background-size: cover;
                                                                                }
                                                                                #event11 {  background: url(e11.jpg) no-repeat center center fixed; 
                                                                                    -webkit-background-size: cover;
                                                                                    -moz-background-size: cover;
                                                                                    -o-background-size: cover;
                                                                                    background-size: cover;
                                                                                        }
                                                                                        #event12 {  background: url(e12.jpg) no-repeat center center fixed; 
                                                                                            -webkit-background-size: cover;
                                                                                            -moz-background-size: cover;
                                                                                            -o-background-size: cover;
                                                                                            background-size: cover;
                                                                                                }
                                                                                                #event13 {  background: url(e13.jpg) no-repeat center center fixed; 
                                                                                                    -webkit-background-size: cover;
                                                                                                    -moz-background-size: cover;
                                                                                                    -o-background-size: cover;
                                                                                                    background-size: cover;
                                                                                                        }
                                                                                                                                                                                        
                                                                                                                                                                                                                        
                                                                                                                                                                                                                                

